[submodule "ios/locations"]
	path = ios/locations
	url = https://github.com/RU-Here/RUHereLocations.git
[submodule "geofencing-api/locations"]
	path = geofencing-api/locations
	url = https://github.com/RU-Here/RUHereLocations.git
[submodule "android/RUHereLocations"]
	path = android/RUHereLocations
	url = https://github.com/RU-Here/RUHereLocations.git
