node_modules
*.log

**/GoogleService-Info.plist
ios/ios/GoogleService-Info.plist
android/app/google-services.json

# iOS 
ios/ios.xcodeproj/project.xcworkspace/xcuserdata/
ios/ios.xcodeproj/xcuserdata/
*.xcuserstate

# Build artifacts
ios/build/
android/build/
android/app/build/
/build