<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>RuHere</string>
	<key>GIDClientID</key>
	<string>107978976180-73l88ctguq7ks5ro66cidqk0e9evvnva.apps.googleusercontent.com</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to monitor geofences even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to monitor geofences.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to monitor geofences even when the app is in the background.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.RUHere.RUHere</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.107978976180-73l88ctguq7ks5ro66cidqk0e9evvnva</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.RUHere.joingroup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ruhere</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
